<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% load i18n %}





{% block content %}

<div class="container-fluid" style="padding-top:25px">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">

          <div class="card-header bg-dark">
            <h2 class="title" style="color: white;">Login</h2>
          </div>

        <div class="card-body">

        <form class="form-horizontal" method="POST" novalidate>
            {% csrf_token %}



            <div class="form-row">
                <div class="form-group col-md-12" data-toggle="tooltip" data-placement="right" title="{{ form.username.help_text}}">
                    <label for="inputUsername">Username:</label>
                        {{ form.username|add_class:'form-control' }}
                    <span class="text-danger">{{ form.username.errors.0}}</span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-12" data-toggle="tooltip" data-placement="left" data-html="true" title="{{ form.password.help_text}}">
                    <label for="inputPassword">Password:</label>
                        {{ form.password|add_class:'form-control' }}
                    <span class="text-danger">{{ form.password.errors.0}}</span>
                </div>
            </div>

            <div>
                <button class="btn btn-outline-info my-2 float-right my-sm-0" type="submit">Submit</button>
            </div>

        </form>



        </div>
        </div>
    </div>

</div>
    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}



