.Warrant{
    position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
    transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
}