<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<!------ Include the above in your HEAD tag ---------->









<div class="card w-50 mt-3  bg-light mx-auto">

  <div class="card-header bg-dark">
    <h2 class="title" style="color: white">Signup</h2>
  </div>

<div class="card-body">

<form class="form-horizontal" method="POST" novalidate>
    {% csrf_token %}




    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFirstName">{% trans 'First Name' %}:</label>
                {{ form.first_name|add_class:'form-control' }}
                <span class="text-danger">{{ form.first_name.errors.0}}</span>
        </div>

        <div class="form-group col-md-6">
            <label for="inputLastName">{% trans 'Last Name' %}:</label>
                {{ form.last_name|add_class:'form-control' }}
                <span class="text-danger">{{ form.last_name.errors.0}}</span>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-12" data-toggle="tooltip" data-placement="right"">
            <label for="inputUsername">{% trans "User Name" %}:</label>
                {{ form.username|add_class:'form-control' }}
            <span class="text-danger">{{ form.username.errors.0}}</span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12" data-toggle="tooltip" data-placement="right">
            <label for="inputEmail">{% trans "Email Address" %}:</label>
                {{ form.email|add_class:'form-control' }}
            <span class="text-danger">{{ form.email.errors.0}}</span>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6" data-toggle="tooltip" data-placement="left" data-html="true">
            <label for="inputPassword">{% trans 'Password' %}:</label>
                {{ form.password1|add_class:'form-control' }}
            <span class="text-danger">{{ form.password1.errors.0}}</span>
        </div>

        <div class="form-group col-md-6" data-toggle="tooltip" data-placement="right">
            <label for="inputPassword2">{% trans 'Password Verification' %}:</label>
                {{ form.password2|add_class:'form-control'  }}
            <span class="text-danger">{{ form.password2.errors.0}}</span>
        </div>
    </div>

    <div>
        <button class="btn btn-outline-info float-right"  type="submit">{% trans 'Submit' %}</button>
    </div>

</form>
</div>
</div>





{% endblock %}

